@charset "UTF-8";
:root {
  --background-color: #f2e1c7;
  --overlay-color: #d2cdb0;
  --text-color: #100d30;
  --primary-color: #e37e50;
  --secondary-color: #7d9478;
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--background-color) 0%, var(--overlay-color) 100%);
  margin: 0;
  font-family: Verdana, DejaVu Sans, Bitstream Vera Sans, Geneva, sans-serif;
}

h1, h2, em, nav {
  font-family: "Quicksand", sans-serif;
}

h1, h2 {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  line-height: 0.9;
}

h1, text {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h1 svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

h1 svg rect {
  fill: var(--primary-color);
}

h1 svg path {
  fill: var(--background-color);
  stroke: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  white-space: nowrap;
}

em {
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.05rem;
}

p {
  color: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

p a {
  position: relative;
  text-decoration: none;
}

p a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--text-color);
  transition: height 0.2s ease-in-out;
}

p a:hover::after {
  height: 3px;
}

p {
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

article, section, p {
  max-width: 32rem;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.container > * {
  padding: 2rem;
  box-sizing: border-box;
}

.container > header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container > main {
  flex: 1 1 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.container nav ol {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

article > *, section > * {
  margin-bottom: 1rem;
}

article header > * + *, section header > * + * {
  margin-top: 0.5rem;
}

.container:not(.index) header svg {
  display: none;
}

nav {
  position: relative;
  display: block;
  font-size: 3rem;
  line-height: 0.9;
  margin: 0;
  text-transform: uppercase;
  background: transparent;
}
nav ol {
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}
nav li {
  display: block;
  float: left;
  clear: both;
  width: auto;
  text-transform: inherit;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: inherit;
  transition: color 0.15s ease-in;
}

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

nav ol {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

nav li {
  transform: translateY(200%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
}

.container:not([id]) nav li {
  transition-delay: 0;
  transition-duration: 0;
}

nav li:nth-child(2) {
  transition-delay: 0.2s;
}

nav li:nth-child(3) {
  transition-delay: 0.1s;
}

nav li:nth-child(4) {
  transition-delay: 0s;
}

#toggle {
  display: none;
}
#toggle ~ nav {
  transition-delay: 0.3s;
}
#toggle ~ nav::before {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  transform: translate(2.4rem, 2.2rem);
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in;
  transition-delay: 0.5s;
}
#toggle ~ nav label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
}
#toggle ~ nav label:before {
  display: block;
  position: absolute;
  z-index: 1;
  right: 1.2rem;
  bottom: 2.2rem;
  width: 1.5rem;
  height: 0.2rem;
  content: "";
  transform: translateY(-0.4rem);
  transform-origin: center;
  background-color: var(--background-color);
  transition: all 0.15s ease-in;
}
#toggle ~ nav label:after {
  display: block;
  position: absolute;
  z-index: 1;
  right: 1.2rem;
  bottom: 2.2rem;
  width: 1.5rem;
  height: 0.2rem;
  content: "";
  transform: translateY(0.4rem);
  transform-origin: center;
  background-color: var(--background-color);
  transition: all 0.15s ease-in;
}
#toggle:checked ~ nav {
  color: var(--background-color);
  transition-delay: 0s;
}
#toggle:checked ~ nav::before {
  transform: scale(20);
  transition-delay: 0s;
}
#toggle:checked ~ nav li {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}
#toggle:checked ~ nav li:nth-child(2) {
  transition-delay: 0.1s;
}
#toggle:checked ~ nav li:nth-child(3) {
  transition-delay: 0.2s;
}
#toggle:checked ~ nav li:nth-child(4) {
  transition-delay: 0.3s;
}
#toggle:checked ~ nav label {
  width: 100%;
  height: 100%;
  background: inherit;
}
#toggle:checked ~ nav label:before {
  transform: translateY(0) rotate(45deg);
}
#toggle:checked ~ nav label:after {
  transform: translateY(0) rotate(-45deg);
}

[itemtype$=Organization] [itemprop=name] {
  display: none;
}

[itemtype$=Organization] > * {
  margin-bottom: 0;
}

[itemtype$=Organization] p {
  margin-bottom: 1rem;
}

[itemtype$=Organization] a {
  display: inline-block;
}

[itemtype$=Organization] svg {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translateZ(0);
  pointer-events: none;
  background: none;
}

header {
  color: var(--primary-color);
}

footer {
  color: var(--secondary-color);
  font-size: 80%;
}

main header {
  color: var(--secondary-color);
}

.mask stop:first-child {
  stop-color: var(--overlay-color);
}

.mask stop:last-child {
  stop-color: var(--overlay-color);
}

.mask text {
  fill: var(--primary-color);
}

.mask circle {
  stroke: var(--primary-color);
}

/* layout */
#index header {
  flex: 1 0 auto;
  flex-direction: column;
}
#index main {
  display: none;
}
#index h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
}
#index nav {
  color: var(--text-color);
  font-size: 4.5rem;
  line-height: 1;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  position: static;
  margin: 0;
  padding: 0;
  border: none;
  transition: none;
}
#index nav::before {
  opacity: 0;
}
#index nav ol {
  position: static;
  padding: 0;
}
#index nav li:first-child {
  display: none;
}
#index nav li {
  transform: none;
  transition: none;
  opacity: 1;
  pointer-events: auto;
}
#index nav label {
  display: none;
}
#index [itemprop=text] p {
  display: none;
}

#about nav li:nth-child(2) {
  color: var(--text-color);
}
#about main p {
  margin: 0 0 2rem 0;
}

#works nav li:nth-child(3) {
  color: var(--text-color);
}
#works article {
  margin: 0 0 2rem 0;
}
#works article:last-child {
  width: 90%;
}

#insights nav li:nth-child(4) {
  color: var(--text-color);
}
#insights main article {
  display: inline;
}
#insights main article + article:before {
  content: "â—";
  margin-right: 1vw;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202040;
    --overlay-color: #543864;
    --text-color: #e1e1e1;
    --primary-color: #ff6363;
    --secondary-color: #ffbd69;
  }
}
/* Small major breakpoint */
@media screen and (min-width: 24rem) {
  h2 {
    font-size: 2em;
  }

  figure, picture {
    width: 40vw;
    height: 40vw;
  }
}
/* Medium major breakpoint */
@media screen and (min-width: 46.8rem) {
  .container > * {
    padding: 4rem;
  }

  .container:not(.index) h1, text, .mask:not(.index) text {
    font-size: 5em;
  }

  h2 {
    white-space: normal;
  }

  .container:not(.index) nav {
    display: flex;
    align-items: center;
    position: static;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: normal;
  }

  nav ol {
    position: static;
    padding: 0;
  }

  #toggle ~ nav::before {
    position: static;
    width: 0.2rem;
    height: 100%;
    border-radius: 0.5rem;
    transform: none;
    transition: none;
    margin: 2rem;
  }

  #toggle ~ nav {
    transition: none;
  }

  #toggle ~ nav label {
    display: none;
  }

  #toggle ~ nav ol {
    padding: 0;
  }

  #toggle ~ nav li {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: none;
    transition: none;
  }

  #index #toggle ~ nav::before {
    display: none;
  }

  #index nav li:nth-child(1) {
    display: none;
  }

  #about nav li:nth-child(2) {
    display: none;
  }

  #works nav li:nth-child(3) {
    display: none;
  }

  #insights nav li:nth-child(4) {
    display: none;
  }

  #insights section {
    max-width: 32rem;
  }

  #works article {
    width: calc((95vw - 8rem) / 2);
  }

  #works article:nth-child(2n+1) {
    margin-right: 5vw;
  }
}
/* Large major breakpoint */
@media screen and (min-width: 50rem) {
  #about article {
    width: 70%;
  }

  #insights section:first-child {
    width: 70%;
  }
}
/* XL major breakpoint */